* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(22, 22, 22, 1);
}

/***** GENERAL - PAGE EN COURS D'AFFICHAGE *****/

 #pageActuelle a {
    color: rgb(175, 174, 174); 
}


/*****SECTION BARRE DE NAVIGATION ****/

/* MENU BURGER */

#burger {
    display:none;
    position: absolute;
    right : 5%; 
    color : whitesmoke;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer; 
    
}

/* NAVBAR GENERAL */
.navbar {
    z-index : 1;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
    position:fixed; 
    width: 100%;
    height: 8%;
    top:0; 
}

#logoNavBar {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10%;
    flex-direction: row;
    background-color: transparent;
    
}

#logoNavBar p {
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
    color: rgba(0, 96, 88, 1);
    background-color: transparent;
    text-decoration: none;
    font-size: 1.7rem;    
}

#logoNavBar img {
    background-color:  transparent;
    width: 10%;
}

.navList {
    display: flex;
    list-style: none;
    gap:30px;
    background-color: transparent;
    margin-right: 10%;
    
}

.navList li {
    background-color: transparent;
}
.navList li a {
    background-color: transparent;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
    color:rgb(90, 90, 90);
}

.socials {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    ;
    
}
.socials a {
    background-color: transparent;
}
.socials img {
    display: flex;
    justify-content: flex-end;
    padding: 0 5px 0 5px ;
    width: 30px;
    height: 30px;
    object-fit: contain;
    background-color: transparent;

}


/*****SECTION MAIN  ****/

main {
    padding-top: 7%;
    margin : 0 10% 3% 10%;
    height : auto;    
}

h1 {
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
    font-size: 2.5rem;
    color: rgba(0, 96, 88, 1);
    padding-bottom: 25px;
}

/***** SECTION FOOTER *****/

footer {
    padding: 20px 100px 20px 100px;
    background-color: rgb(0, 0, 0);
    position: sticky;
}

footer div {
    background-color: rgb(0, 0, 0);
}

.footerZone {
background-color: rgb(0, 0, 0);
display: flex;
flex-direction: row;
justify-content: space-between;
}

.footerList{
    background-color: rgb(0, 0, 0);
    display: flex ;
    flex-direction: row;
    gap:30px;
}
.footerList li {
    background-color: transparent;
}

.footerList li a {
    background-color: rgb(0, 0, 0);
    color: rgba(0, 96, 88, 1);;
    font-size: 1rem; 
    text-decoration: none;
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: normal;
}

.footerList li::marker {
    content: "";
}

#CopyrightZone p {
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    color: rgb(32, 32, 32);
}


/*RESPONSIVE*/

/*BARRE DE NAVIGATION */

@media screen and (max-width: 1000px)
{



#burger {
    display: block; 
}
.navbar{
    height: 8%;
}

.navbar #logoNavBar {
    position: absolute; 
    margin-left: 6%;
}
#logoNavBar p {
    font-size: 1.7rem;
}

 .navList {
    position: absolute;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.795);
    backdrop-filter: blur(7px); 
    width: 100%;
    height: 100vh;
    top: 0; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:-100%;
    transition: all 0.5s ease; 
}

.mobile-menu {
    margin-left:0;
}

.navList li {
    text-align: center;
    margin-top: 30px;
    
}

.navList li a {
    font-size: 1.8rem;
}
.navList .socials {
    margin-top: 30px;
} 

/*GENERAL */

main{
    margin-top: 10%;
}

/*FOOTER */

.footerList {
    display: none;
}

.footerZone .socials{
    display: none;
}

}
