
/***** TITRES DES JEUX *****/

#Shadow{
  font-family: "Freckle Face", serif;
  font-weight: 400;
  font-style: normal;
}

/* #TheLastCan {
}

#Auditorium {
}

#CastleShoot {
} */



/***** GIFS DES JEUX *****/

.firstImageGameGrid#ShadowGif img:hover {
    content: url("../Img/gifs/Shadow1.gif");
}

.firstImageGameGrid#TheLastCanGif img:hover {
    content: url("../Img/gifs/TheLastCan1.gif");
}

.firstImageGameGrid#AuditoriumGif img:hover {
    content: url("../Img/gifs/Auditorium1.gif");
}

.firstImageGameGrid#CastleShootGif img:hover {
    content: url("../Img/gifs/CastleShoot1.gif");
}

/***** GRID JEUX GENERAL *****/
.gameGrid {
    border-top: 2px solid rgb(63, 61, 61);
    border-bottom: 1px solid rgb(63, 61, 61);
    padding: 2% 0 2% 0;
    display: grid;
    justify-content:space-around;

        grid-template-columns: 1fr 1fr 3fr 1fr ;

    
    /* grid-template-columns: repeat(4,1fr) ; */
    grid-template-rows : auto;    
    gap: 20px; 
    
}



/***** GRID JEUX TEXTES *****/

.gameGrid h2{
    display:flex; 
    justify-content:flex-start;
    
    color:rgb(121, 102, 167);
    text-shadow:0 0 0.3em rgba(88, 58, 158, 0.8);

    padding-left : 50px;

    font-size:3rem;

}

.gameGrid p{

    font-size: 1.3rem;
    color: rgb(90, 90, 90);
}

.pitchGameGrid {
    display:flex; 
    justify-content:flex-start;

    text-align: justify; 
    
    grid-column: 3/5;    
    grid-row : 3/4;
    padding : 10px 30px 10px 50px;
}


/***** GRID JEUX LISTE *****/

.listGameGrid {
    display: flex;
    grid-column: 3/5;
}

.listGameGrid ul {  
    color: rgb(90, 90, 90);
    font-size: 1.3rem;
    padding-left: 120px;
    line-height: 2;
    list-style: none;
} 

.listGameGrid li::before {
    content: '';
    display: flex;
    flex-direction: row ;
    align-items: center;
    align-content: center;
    position: absolute; 
    height: 1.9rem;
    width: 1.9rem;
    
    transform: translate(-200%, 30%);
}

.listGameGrid li#gameDice::before {
    background: url("../Img/icon_dice_grey_50px.png");
    background-size: cover;
}


.listGameGrid li#gameHeart::before {
    background: url("../Img/icon_heart_grey_50px.png");
    background-size: cover;
}

.listGameGrid li#controller::before {
    background : url("../Img/icon_controller_grey_50px.png");
    background-size: cover;
}


/***** GRID JEUX IMAGES *****/

.logiciel  {
    display: flex;
    flex-direction: column;
    align-items : flex-end; 
    text-transform:uppercase;
    line-height: 0.1;
    grid-column: 4/5;
}

.logiciel img {
    width: 80px;
    background-color: transparent;
}


.firstImageGameGrid {
    
    display: flex;
    align-items: flex-end;
    grid-column: 1/3;
    grid-row : 1/4;
    
}

.firstImageGameGrid  img {
    
    width: 100%;
    height:100%;
    object-fit: cover;
    
    

}


.secondImageGameGrid{
    grid-row: 4/5; 
    grid-column: 1/2;

}
.secondImageGameGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.thirdImageGameGrid {
 grid-row: 4/5; 
 grid-column: 2/3;
}

.thirdImageGameGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/***** GRID JEUX BOUTON *****/

.containerButtonGameGrid{
    grid-column: 4/5; 
    display: flex;
    justify-content: flex-end;
    align-items : flex-end; 

    padding: 0px 20px 20px 0px; 
}



.buttonGameGrid {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border : 2px solid rgba(0, 96, 88, 1);
    border-radius : 10px; 
    
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: rgb(90, 90, 90);
    text-transform:uppercase;
    text-decoration: none;

}

/* VERSION RESPONSIVE */

@media screen and (max-width: 1250px)
{



/*TEST GRID 2x */
.gameGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.firstImageGameGrid{
    grid-column: 1/3;
    grid-row: 2/3;

    display: flex;
    justify-content: center;


}
.firstImageGameGrid img {
    max-width: 95%;   


}

.titleGamegrid {
    grid-column: 1/3 ;
    grid-row : 1/2;

}

.gameGrid h2 {
    margin-top: 40px;
    padding-left: 0; 

}

.logiciel
{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;

}
.listGameGrid {
    grid-column: 1/3;
    grid-row: 3/4

}

.pitchGameGrid {
    grid-column: 1/3;
    grid-row: 4/5;
    padding-left: 0;

}

.containerButtonGameGrid {
    grid-column: 2/3;
}

.listGameGrid ul{
    padding-left: 100px;
}



.secondImageGameGrid {
    display: none;
}

.thirdImageGameGrid {
    display: none;
}




}
